html {
    margin: 0;
    background: var(--White, #FFFBFA);
 }
main{
    margin: 0;
    padding: 0;
}
ul {
   list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.underline_text{ 
    text-decoration: underline black;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;

}
body._lock{
    overflow: hidden;
}
.container{
    /* width: 320px; */
    /* padding-left: 15px;
    padding-right: 15px; */
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 100%; */
    max-width: 768px;
    min-width: 320px;
    margin: 0 auto;
    outline: 1px solid red;
}

.head {
    width: auto;
    height: 68px;
    flex-shrink: 0;
    border-radius: 0px 0px 18px 18px;
    background: var(--Dark-grey, #282827);
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    position: relative;
    
    }
.menu_icon {
    margin-left: 20px;
    
}
.img_logo {
   margin-right: auto;
   margin-left: auto;
   margin-top: 38px;
   justify-content: center;
}
.inst_head {
    margin-right: 20px;
}
/*--------------------------------------------------------------------------MAIN----------------------------------------------------------------------*/

.bg_img{
    background-image: url(../images/main_photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 120px;
    margin-top: -25px;
    margin-bottom: 0;
}

.title {
    color: var(--White, #FFFBFA);
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 120px;
}
.main_text {
    color: var(--White, #FFFBFA);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
}
.button_container {
    margin-top: 24px;
    padding-bottom: 332px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.button_main {
    color: var(--White, #FFFBFA);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
    display: flex;
    width: 296px;
    padding: 12px;
    justify-content: center;
    align-items: center;
   
    border-radius: 22px;
    background: var(--Light-brown, #C1865A);
   
}
.footer_span{
    border-radius: 390px / 73px;
    background: var(--Dark-grey, #282827);
    display: block;
    width: 100%;
    height: 72.933px;
    top: 369px;
    position: relative;
}
/* ----------------------------------------------------------------------FOOTER------------------------------------------------ */
.footer {
    background: var(--Dark-grey, #282827);
    position: relative;
    /* padding-top: 28px;
    padding-right: 28px;
    padding-left: 28px; */

}
.footer_container_main{
    display: flex;
}
.footer_container {
    column-gap: 12px;
    display: flow-root;
    margin-left: 28px;
    margin-right: auto;
}
.footer_container_second{
    display: flow-root;
    margin-right: 28px;
    margin-left: auto;

}
.footer_text_container {
    display: flow-root;
    margin-top: 28px;
    width: 145px;
    
}
@media screen and (min-width: 375px) {
    .footer_text_container{
      width: 148px;
      
    }
    }
@media screen and (min-width: 475px) {
    .footer_text_container{
       width: auto;
          
    }
    }

.footer_text_main {
    color: var(--White, #FFFBFA);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}
.footer_text {
    color: var(--White, #FFFBFA);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    
}
.footer_inst_position{
    display: flex;
    gap: 8px;
    align-items: center;
}
.logo_footer {
    margin-left: auto;
    margin-right: auto;    
    width: 105px;
    height: 128px;
    display: flex;
}
/*-------------------------------------------------REVIEWS-------------------------------------------*/
.footer_span_reviews{
        border-radius: 390px / 73px;
        background: var(--Dark-grey, #282827);
        display: block;
        width: 100%;
        height: 72.933px;
        top: 52px;
        position: relative;

}
.section_reviews {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -15px;
   
}
.reviews_title {
    color: var(--Dark-grey, #282827);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.reviews_photo{
    
    border-radius: 18px;
    height: 137px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;

}
@media screen and (min-width: 375px) {
  .reviews_photo{
    width: 358px;
    height: 164px;
  }
  }
@media screen and (min-width: 475px) {
    .reviews_photo{
        height: 200px;
        width: 440px;
    }
    
}
.reviews_text{
    padding-left: 30px;
    padding-right: 30px;
}
.section_reviews_text {
    color: var(--Dark-grey, #282827);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.span_reviews_first {
    color: var(--Dark-grey, #282827);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.span_reviews_second {
    color: var(--Dark-grey, #282827);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.button_reviews{
    display: flex;
    width: 296px;
    padding: 12px;
    justify-content: center;
    align-items: center;
   
    border-radius: 22px;
    background: var(--Light-brown, #C1865A);

    color: var(--White, #FFFBFA);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;

}
/*--------------------------------------------------HISTORY------------------------------------------------------------------------*/

.history{
    background: var(--White, #FFFBFA);
    position: relative;
    top: -15px;
  
}
.history_title {
    color: var(--Dark-grey, #282827);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}
.history_text {
    color: var(--Dark-grey, #282827);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 16px;
    margin-right: 16px;
}
.photo_history {
    border-radius: 18px;
    float: left;
    margin-right: 16px;
    
}
.history_span{
    color: var(--Dark-grey, #282827);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footer_span_history{
    border-radius: 390px / 73px;
    background: var(--Dark-grey, #282827);
    display: block;
    width: 100%;
    height: 72.933px;
    top: 36px;
    position: relative;

}
/*-------------------------------------------------LOCATION--------------------------------------------------*/
/* .section_location {
    /* padding-left: 16px;
    padding-right: 16px; 

} */
.underline_text{
    text-decoration: underline black;
}
.location_title {
    color: var(--Dark-grey, #282827);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
}
.location_box {
    border-radius: 18px;
    border: 1px solid var(--Light-brown, #C1865A);
    text-align: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
   

}
.location_text_first {
    color: var(--Dark-grey, #282827);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
   
}

.location_text_second {
    color: var(--Dark-grey, #282827);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
}
.location_inst{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.container_location_box{
    margin-bottom: 32px;
}

iframe{
    border-radius: 18px;
    
}

  @media screen and (min-width: 375px) {
      iframe{
        width: 326px;
        height: 144px;
         
      }
      
  }
 
.footer_span_location {
    border-radius: 390px / 73px;
    background: var(--Dark-grey, #282827);
    display: block;
    width: 100%;
    height: 72.933px;
    top: 36px;
    position: relative;


}

.menu_body{
    position: absolute;
    top: 0;
    left:-100%;
    width: 100%;
    height: 100%;
    /* transform: translate(-100%,0px); */
    /* background-color: rgba(40, 40, 39, 0.40); */
    transition: all 0.3s ease 0s;
    overflow: auto;

}
.menu_body._active{
    left: 0;
}
.modal {
        
    width: 294px;
    height: 100%;
    background-color:#282827;
    position: absolute;
    top: 0;
    left: 0;

}
.svg_modal{
    display: flex;
}
.modal_logo{
    padding-left: 28px;

}

.modal_cross{
   margin-left: auto;
   padding-top: 24px;
   padding-right: 16px;
}
.list_burgermenu {
    gap: 27px;
    display: grid;
}
.text_burgermenu {
    color: var(--White, #FFFBFA);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    text-align: left;

}
/*--------------------------------------------------------MENU-----------------------------------------*/
.menu_top {
    /* padding-left: 15px;
    padding-right: 15px; */
    padding-top: 20px;
    min-width: 320px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.menu_box_title {
    display: flex;
    align-items: center;
    min-width: 320px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 25px;
}
.line {
    background:  #C1865A;
    width: 100%;
    height: 1px;
}
.menu_title {
    color: var(--Dark-grey, #282827);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20px;
    align-items: center;
    display: flex;
    align-items: center; */

}
.footer_span_menu {
    border-radius: 390px / 73px;
    background: var(--Dark-grey, #282827);
    display: block;
    width: 100%;
    height: 72.933px;
    top: 36px;
    position: relative;
    max-width: 768px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;



}
.pacage {
    border-radius: 22px;
    border: 2px solid #ECECEC;

    display: flex;
    width: 290px;
    align-items: center;
    margin-bottom: 25px;
  
    margin-left: auto;
    margin-right: auto;
   
    
}
@media screen and (min-width: 425px) {
  .pacage{
    width: 362px;
  }
    
}
@media screen and (min-width: 550px) {
    .pacage{
      width: 500px;
    }
 
  }

.pacage_text_box { 
       /* padding: 10px 14px; */
       padding: 10px 0px 10px 14px;

}
.pacage_text {
    color: var(--Dark-grey, #282827);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;   

}
.pacage_text:nth-last-child(1){
    margin-bottom: 0;
}
.svg_menu_pacage{
    margin-left: auto;
    padding: 10px 14px 10px 0px;

   
}

